<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>       江西，中国省级行政区，简称“赣”（gàn），别称赣鄱大地，是江南“鱼米之乡”，古有“吴头楚尾，粤户闽庭”之称。因公元733年唐玄宗设江南西道而得省名，又因省内最大河流为赣江而简称赣。
        江西地处中国东南部，北纬24°29′14″至30°04′41″，东经113°34′36″至118°28′58″之间，东邻浙江省、福建省，南连广东省，西接湖南省，北毗湖北省、安徽省而共接长江，属于华东地区。
        江西全省面积16.69万平方公里，辖11个地级行政区、100个县级行政区（县、县级市、市辖区）、1个国家级新区，省会为南昌市。
        江西省的地形地貌以江南丘陵、山地为主；盆地、谷地广布；北部为鄱阳湖平原。全境有大小河流2400余条，赣江、抚河、信江、修河、饶河为江西五大河流。鄱阳湖是中国第一大淡水湖。江西处北回归线附近，全省气候温暖，雨量充沛，年均降水量1341毫米到1940毫米；无霜期长，为亚热带湿润气候。
        江西省粮食作物以水稻为主，次为小麦。还盛产油菜、棉花、油茶、茶叶等。茶叶多产于北部山地，“庐山云雾”、“宁红”、“婺绿”均为茶中名产。主要工业为有色冶金、煤炭、钢铁、机械制造、化肥等。景德镇的瓷器历史悠久，产品驰名中外。
        江西红色文化闻名中外，井冈山是中国革命的摇篮，南昌是中国人民解放军的诞生地，瑞金是苏维埃中央政府成立的地方，安源是中国工人运动的策源地。中国共产党领导人民群众先后在江西建立大片革命根据地：赣西井冈山革命根据地、湘赣革命根据地、赣东北革命根据地等[1]  。</string>
		<string>jiangxi1</string>
		<string>jiangxi2</string>
		<string>jiangxi3</string>
		<string>jiangxi4</string>
		<string>jiangxi5</string>
	</array>
	<array>
		<string>      江西开发的历史可以上溯到距今一万年以前。
      商朝时期，江西已进入青铜器时代，与中原地区的经济文化发展水平一致。春秋战国时期，吴、越、楚三国分争江西[3]  。
      秦设三十六郡，江西属九江郡，置庐陵县、新淦县、南壄县。而江西作为明确的行政区域建制，则始于汉高帝初年。时设豫章郡（赣江原称豫章江），郡治南昌县，下辖18县。
      汉武帝时划全国为13个监察区，称13部州，江西属扬州刺史部。献帝建安五年（200年）时，孙策分庐陵、雩都等县置庐陵郡。建安十五年（210年），孙权厘置彭泽郡（旋废）、鄱阳郡。嘉禾五年（236年），孙权庐陵南部都尉，隶扬州。
      公元291年，设江州，治所南昌，后迁至浔阳郡（九江市），其主体为江西地区原有郡县。隋时曾作行政区划调整，州的级别降与郡同，因而隋代的江西地区设有7郡24县。至唐时增加到8州37县。唐太宗贞观元年（627年）划全国为10道监察区，江西属于江南道。唐玄宗开元二十一年（733年）时增为15道，属江南西道，其监察区下辖8州，治洪州（南昌市）。
      五代时期，江西地区先辖于吴后辖于南唐。在这个时期出现了相当于下等州的新的行政区划6州、4军、55县。交泰元年（958年），南唐中主决定建南都于洪州，并因此升洪州为南昌府。宋代在州之上改道为路，初设江南路，天禧四年（公元1020年）分江南路为江南东路和江南西路，江西地区被置9州、4军、68县，其大部分隶属于江南西路，仍治洪州，另有一部分隶属于江南东路[4]  。
      元朝开始确立行中书省制度（简称行省）。江西行省辖区大于今江西省区。除包括了今江西绝大部分地区外（原江西东北地区隶属于江浙行省）和今广东省的大部分。江西行省下辖13路、2直隶州以及48个县、16个县级州。
      明朝虽然基本上保留了元朝的省区建制，但改行中书省为承宣布政使司，改路为府和改州为县。江西承宣布政使司辖13府78县[1]  ，地域基本等同今天的江西省区[5]  。
      清代改江西布政使司为江西省，行政区域基本承袭明建制。另在吉安府增设莲花、南昌府增设铜鼓、赣州府增设虔南等3个县级厅，同时升宁都县为省辖直隶州。巡抚成为全省最高行政长官，下设承宣布政使司和提刑按察使司，分管民政、财政与司法监察。
      民国时期，清朝的府、州、厅一律改为县。江西省共辖81县。1934年从安徽划婺源县入江西省，1947年划回安徽省，1949年再次划归江西省[1]  。2014年，江西省列入国家农村信息化示范省[6]  。2016年6月，赣江新区成为第18个国家级新区[7]  。</string>
		<string>      江西省有十个市级政区、100个下辖县级行政区：南昌市、九江市、上饶市、抚州市、宜春市、吉安市、赣州市、景德镇市、萍乡市、新余市、鹰潭市、东湖区、西湖区、青云谱区、湾里区、青山湖区、新建区、南昌县、安义县、进贤县、浔阳区、濂溪区、九江县、永修县、德安县、都昌县、湖口县、彭泽县、武宁县、修水县、瑞昌市、共青城市、庐山市、信州区、广丰区、上饶县、玉山县、铅山县、横峰县、弋阳县、余干县、鄱阳县、万年县、婺源县、德兴市、临川区、南城县、黎川县、南丰县、崇仁县、乐安县、宜黄县、金溪县、资溪县、东乡县、广昌县、袁州区、高安市、丰城市、樟树市、奉新县、万载县、上高县、宜丰县、靖安县、铜鼓县、吉州区、青原区、吉安县、井冈山市、吉水县、新干县、永丰县、泰和县、遂川县、万安县、安福县、永新县、峡江县、章贡区、南康区、信丰县、大余县、赣县、龙南县、定南县、全南县、寻乌县、安远县、瑞金市、宁都县、于都县、会昌县、石城县、上犹县、兴国县、崇义县、珠山区、昌江区、浮梁县、乐平市、安源区、湘东区、莲花县、上栗县、芦溪县、渝水区、分宜县、月湖区、余江县、贵溪市</string>
	</array>
	<array>
		<array>
			<string>地质</string>
			<string>       江西省的地形以江南丘陵、山地为主；盆地、谷地广布，略带平原。地质与地貌地质构造上，以锦江—信江一线为界，北部属扬子准地台江南台隆，南部属华南褶皱系，志留纪末晚加里东运动使二者合并在一起，后又经受印支、燕山和喜马拉雅运动多次改造，形成了一系列东北—西南走向的构造带，南部地区有大量花岗岩侵入，盆地中沉积了白垩系至老第三系的红色碎屑岩层，并夹有石膏和岩盐沉积；北部地区形成了以鄱阳湖为中心的断陷盆地，盆地边缘的山前地带有第四纪红土堆积。这是造成全省地势向北倾斜的地质基础。</string>
		</array>
		<array>
			<string>地貌</string>
			<string>       地貌上属江南丘陵的主要组成部分。省境东、西、南三面环山地，中部丘陵和河谷平原交错分布，北部则为鄱阳湖平原。
       鄱阳湖平原与两湖平原同为长江中下游的陷落低地，由长江和省内五大河流泥沙沉积而成，北狭南宽，面积近2万平方公里。地表主要覆盖红土及河流冲积物，红土已被切割，略呈波状起伏。湖滨地区还广泛发育有湖田洲地。水网稠密，河湾港汊交织，湖泊星罗棋布。
       赣中南以丘陵为主，多由红色砂页岩及部分千枚岩等较松软
      岩石构成，经风化侵蚀，呈低缓浑圆状，海拔一般200米，接近边缘山地部分的高丘，海拔约300-500米；其相对高度除南部在百米以上外，一般仅50-80米。丘陵之中，间夹有盆地，多沿河作带状延伸，较大的有吉泰盆地、赣州盆地。山地大多分布于省境边缘，主要有：东北部的怀玉山，东部沿赣闽省界延伸的武夷山脉，南部的大庾岭和九连山，西北与西部的幕阜山脉、九岭山和罗霄山脉（包括武功山、万洋山、诸广山）等，成为江西与邻省的界山和分水岭。山脉走向以东北—西南向为主体，控制着省内主要水系和盆地的发育。多数山地由古老的变质岩系和花岗岩组成，山峰陡峭，堆积物较厚[19]  。武夷山主峰黄岗山（2157米）为省内最高点。</string>
		</array>
		<array>
			<string>水文</string>
			<string>       江西省境地形南高北低，有利于水源汇聚，水网稠密，降水充沛，但各河水量季节变化较大，对航运略有影响。地表径流赣东大于赣西、山区大于平原。全省共有大小河流2400多条，总长度达1.84万公里，除边缘部分分属珠江、湘江流域及直接注入长江外，其余均分别发源于省境山地，汇聚成赣江、抚河、信江、饶河、修河五大河系，最后注入鄱阳湖，经湖口县汇入长江，构成以鄱阳湖为中心的向心水系，其流域面积达16.22万平方公里。鄱阳湖是中国第一大淡水湖，连同其外围一系列大小湖泊，成为天然水产资源宝库，并对航运、灌溉、养殖和调节长江水位及湖区气候均起重要作用[19]  。
       江西河川径流主要靠降水补给，季节性变化很大，具有夏季丰水、冬季枯水、春秋过渡的特点。年内波动较大：1至3月占14-17%，4至6月占53-60%，7至9月占18-22%，10至12月占6-10%。径流最大月份一般出现在6月或5月，各河最大月占全年径流量的22%左右；径流最小月份一般出现在12月或1月，各河最小月占全年径流量的3%以下。由于径流的年内分配主要集中在4月至6月，易造成洪涝灾害。而7月至9月，降水稀，气温高，工农业用水正值高场，江河却处在少水期。径流量最大年比最小年各河在4-5倍左右。年径流量变化还存在连续干旱和连续洪水的情况[20]  。</string>
		</array>
	</array>
	<array>
		<array>
			<string>水资源</string>
			<string>地热水及矿水资源
       江西地处粤闽高、中温热水带边缘，截止2008年7月8日，发现温泉百余处、热水钻孔20多处。最高温度达82℃（温泉）及88℃（钻孔）。以60℃以下的多，约占总数的86%左右。温泉总流量平均每秒718.6升，热水钻孔总自流量平均每秒151.4升。温泉分布以赣南和赣中南为最密，约占总数的62.7%，热水孔也多集中于该区，约占64%左右[20]  。
地表水资源
       江西平均年降水深1600毫米，相应平均每年降水总量约2670亿立方米。河川多年平均径流总量1385亿立方米，折合平均径流深828毫米，径流总量居全国第七位，人均居全国第五位，按耕地平均居全国第六位。
地下水资源
       地下水天然资源多年平均值为212亿立方米以上。年内分配为：丰水期123.8亿立方米，占全年的58%，多在4—7月间；平水期55.5亿立方米，占26%，多在3、8、9、10月间；枯水期34.1亿立方米，占16%，多在1、12、1、2月间。其年际变化为：偏丰年（频率20%）282亿立方米，平水年（频率50%）217亿立方米，偏枯年（频率75%）150亿立方米，枯水年（频率95%）67亿立方米。
       江西具有集中开采价值的地下水资源为68亿立方米/年。鄱阳湖平原最丰富，具集中开采价值的地下水在江西分布面积较小，仅2.7万平方公里。
水力资源
       江西水能理论蕴藏量682万千瓦以上。在华东地区六个省区中处于第二位。可开发的水力资源有610.89万千瓦，年发电量215.61亿度。其中25万千瓦以上大型水电站有万安、峡山、峡江3处，装机容量131.8万千瓦，年发电量45.55亿度。省内中小河流密布，广大农村蕴藏着相当丰富的小水电资源。可开发小水电资源在一万千瓦以上的有60个县[20]  。</string>
		</array>
		<array>
			<string>矿产资源</string>
			<string>       截至2013年底，江西已发现各种有用矿产193种（以亚矿种计）。
       其中，已探明有资源储量的139种，居全国前十位的有71种。钽、铀、重稀土、铷、伴生硫、化工用白云岩、粉石英、麦饭石等8种居全国首位；钨、铜、银、金、锂、铯、碲、电气石、光学萤石、滑石、陶瓷土、玻璃用脉石英、水泥用辉绿岩等13种居全国第2位；铍等14种居全国第3位。
       江西有色金属、贵金属和稀有金属矿产在全国占有重要地位，铜、钨、铀、钽、重稀土、金和银矿被称为“七朵金花”。江西已建成亚洲最大的铜矿和全国最大的铜冶炼基地[20]  。</string>
		</array>
	</array>
	<array>
		<array>
			<string>人口</string>
			<string>       截至2014年末，江西省常住人口为4542.2万人，比上年末增长0.4%。65岁及以上老年人口414.2万人，占总人口的比重为9.1%，比上年末提高0.3个百分点。全年出生人口60.0万人，出生率13.24‰；死亡人口28.4万人，死亡率6.26‰；自然增长率6.98‰[2]  。
       华侨，港澳台同胞，外籍华人
       江西除居住在香港、澳门和台湾地区的同胞以外，还有不少居住国外的侨胞、外籍华人，分布在五大洲三十多个国家和地区。据不完全统计，政治上有影响、经济上有实力、科技上有成就、社会上有声望的社会各界知名人士有数千人[1]  。</string>
		</array>
		<array>
			<string>民族</string>
			<string>       全省共38个民族，汉族人口最多，占总人口的99%以上。少数民族有回族、畲族、壮族、满族、苗族、瑶族、蒙古族、侗族、朝鲜族、土家族、布依族、白族、彝族、黎族、高山族、藏族、水族等37个。少数民族中畲族聚居；瑶族部分聚居；其他各少数民族均为散居性质。</string>
		</array>
		<array>
			<string>经济</string>
			<string>       20世纪50年代以前，江西为农业省，经济基础薄弱。1949年，工农业总产值为12.2亿元，其中，工业总产值仅为2.16亿元；财政收入仅为0.8亿元；人均财政收入仅有7元。50年代以后，经济发展较快，到了1998年，全省工农业总产值2464.5亿元，财政收入145.66亿元，人均财政收入348元。主要农产品产量进入全国前10位。并由部分调入转变为全部净调出，50年累计净调出商品粮1200多亿斤。工业总产值达1729.62亿元，比1949年增长800倍。同时，江西国防工业积极实行“军转民”战略，民品产值已占总产值的90%以上[3]  。
       2015年，江西省实现生产总值16723.8亿元，按可比价格计算，比2014年增长9.1%。其中，第一产业增加值1773亿元，第二产业增加值8487.3亿元，第三产业增加值6463.5亿元。三次产业结构为10.6：50.8：38.6。[2] 
       江西境内的鄱阳湖平原地区是中国重要的商品粮基地，江西是建国以来两个从未间断向国家贡献粮食的省份之一，华东地区木材和毛竹生产基地，中国淡水渔业重点省份之一，中国铜、钨等有色金属工业的重要基地。绿色食品数量达916个，有机食品数量415个。同时建有省级以上农业产业化龙头企业273家，其中国家级14家。江西基本形成了汽车航空及精密制造、特色冶金和金属制品、中成药和生物制药、电子信息和现代家电产业、食品工业、精细化工及新型建材等六大支柱产业，光电、高精铜材、优特钢材、特种车船、精密机械、生物医药、特色化工、绿色食品、度假旅游、新型服务等产业呈现了良好的发展势头。</string>
		</array>
		<array>
			<string>第一产业</string>
			<string>历史发展
       西汉时，鄱阳湖平原和赣江、抚河沿岸谷地农垦逐步兴起，南昌、九江开始成为江西政治、经济和交通中心。西晋末年，北方迁入鄱阳湖周围地区的人口渐增，带来了北方的先进耕作技术。至南朝时，江西已有大量粮食东运。安史之乱以后，省境不仅北部平原及南北通道沿线地区农业兴盛，而且东北、西北及中部丘陵区也广泛开发，粮食、茶、麻等作物有很大发展。南宋及元初，省境陆续兴修了多处水利工程，农业生产条件有所改善，在农业较发达地区，农作物生产开始萌发专门化过程，北部地区小麦种植普遍，茶叶产地日增，婺源茶叶誉为绝品；朱橘、柑橘、金橘运销京师；明、清时期，省境民屯普遍，水利工程又有更大发。明初垦荒面积曾达43万余公顷；清末，由于帝国主义的掠夺，江西已有所发展的茶叶、粮食、烟叶、苎麻、蓝靛等的生产备受排挤减产。到1949年中华人民共和国成立前，江西粮食产量较抗战前最高年产量减少60%，森林面积缩减30%，70%的油茶林面积及85%的茶园面积陷于荒芜[19]  。
产业现状
       江西是中国江南以水稻为主的重要粮食产区之一。粮食作物播种面积占作物总播种面积的60-70%。其中水稻常年播种面积约占粮食作物播种面积的85-90%，稻谷总产量约占粮食总产量的95%。1957年以后双季稻面积不断扩大。小麦的分布以赣北为主，甘薯则以赣中、赣南最多，大豆则主产于鄱阳湖东岸、南岸及吉泰盆地。80年代以来，江西在鄱阳湖畔和吉泰盆地建设了一批商品粮基地县。
       包括油菜籽、花生、芝麻在内的油料作物约占江西经济作物播种面积的70%，其中油菜籽占40%以上。油茶是省内主要的木本油料，面积约100万公顷，略少于湖南，居全国第2位。棉花主要产于赣北、赣中和赣东北3大棉区。江西是中国南方产蔗区之一。苎麻为江西具有全国意义和地方特色的传统经济作物。黄红麻以余江、金溪为主要产地。烤烟主要分布于赣南。茶园以赣东北及赣西北的修水流域一带最为集中。柑橘栽培集中于新干、清江，抚河流域和赣南三大片。
       江西是中国东南重要的木材、毛竹产地之一。全省活立木蓄积量达2.54亿立方米，竹材蓄积量为8.8亿株。森林以樟、楠、柏、栲、栎类等阔叶树居多，针叶树则有杉木、马尾松等。山地丘陵中还广泛分布有油茶、油桐、乌桕等多种经济林木。森林主要集中分布于三南、安寻、上犹江、遂川、幕阜山等11个林区。
       畜牧业以养猪和水禽较有基础。赣江、抚河流域及鄱阳湖区为全省养猪业较发达的地区。全省有乐平猪、玉山黑猪、赣州白猪、兴国茶园猪和滨湖黑猪等优良猪种及杂种猪。养牛业以黄牛较盛，多分布于丘陵山区，滨湖及河谷平原地区则以水牛为主。此外有山羊和地方家兔等。水禽主要有肉用大余和宜春麻鸭及玉山大白鹅等。泰和武山的“武山鸡”具有较高的药用价值。
       江西是中国淡水渔业重点省份之一。包括鄱阳湖在内的总水面达166.7万公顷，其中可供养殖的水面达26.7万公顷。省境长江沿岸一带水域，所产鱼苗除供全省养殖外，还运销国内许多省区。名贵鱼类有鲥鱼和婺源的荷包鲤、兴国的红鲤等[19]  。
       2015年，粮食播种面积5558.4万亩，粮食总产429.7亿斤，实现“十二连丰”。油菜籽总产量73.9万吨，单位面积产量首次突破90公斤关口，达90.4公斤/亩，总产、单产实现连续12年增长。猪肉产量253.5万吨，牛肉产量13.6万吨，羊肉产量1.2万吨，禽肉产量66.3万吨。禽蛋产量49.3万吨，牛奶产量13万吨[22]  。</string>
		</array>
		<array>
			<string>第二产业</string>
			<string>       从汉代开始，江西就是内地重要的造船基地。龙泉（今遂川）郭氏父女创龙泉码，为传统木材贸易作出重大贡献[23]  。“安史之乱”以后，江西境纺织、陶瓷以及银、铜、铁、铅等采冶业均有所发展。昌南（景德）镇瓷器则已名闻天下。南宋及元初，景德镇成为闻名全国的瓷都，渐为中国瓷器制造业中心之一。明初手工业以冶铁、炼铜铸币业著名；手工造纸遍布各地；制瓷业日趋发达，到明初官窑、民窑已近3000余座，年可产瓷器数十万件。
       清末，由于帝国主义的掠夺，已有一定基础的纺织、造纸、瓷器等手工业遭严重打击。近代工业落后，唯煤矿和钨矿的开采略具规模。1898年萍乡煤矿大量开采，为便于煤炭外运，1905年修筑了萍（乡）株（洲）铁路，1908年又修筑了南浔铁路。省内丰富的钨矿资源亦深受帝国主义掠夺，从1917-1918年开始大规模土法开采赣南大庾、西华山一带钨矿，此后又扩及龙南、全南、崇义等县共30多个矿场，资源破坏严重。至1923年汉阳铁厂停办之后，萍乡煤矿产量大幅度下降。到1949年中华人民共和国成立前，江西工业破坏无遗。50年代开始逐步形成门类较齐全、布局较合理的工业体系，其中有色金属冶炼、机械制造、制瓷等居全国前列[19]  。
工业体系
       江西有色金属采冶工业较发达，逐步形成了“南钨北铜”为主体的国家重要有色金属生产基地。在赣州已建有钨冶炼厂。上饶、临川、九江、鹰潭等地正建设成为赣北铜业基地。贵溪冶炼厂是中国规模最大的现代化炼铜企业。江西钢铁工业兴起于20世纪50年代初期，主要以省内铁矿和煤炭为原料，新余所产锰铁产量约占全国一半。龙南县为中国南方重要稀土生产地。
       萍乡煤矿是开采历史较长、产量最大的老矿区，丰城煤矿为省内第2大煤矿，系20世纪50年代以后新建的现代化煤矿。
       南昌为中国飞机制造基地之一；南昌、临川、上饶等地兴建了汽车制造工业；瑞昌、九江崛起为重要船舶工业基地。此外有拖拉机、柴油机、电机、机床、矿山机械制造、精密光学仪器和仪表制造。电子工业是省内新兴工业，80年代初期已遍及全省，以南昌、景德镇、吉安等地为著。
       制瓷工业历史悠久，著名瓷都景德镇历来是中国著名的瓷器生产中心。1949年以来，瓷器生产逐步机械化，产品分色釉瓷、彩绘瓷、刁镶瓷3大类，并恢复了金星绿、匀红、霁红等产品的制造。
       轻工业以纺织、造纸、制糖等为重要。纺织工业以棉纺织工业为主，主要分布于九江、南昌、抚州3市；麻纺织和丝绸工业则以南昌为重点；化纤纺织工业以南昌和乐平为主。造纸工业以南昌、赣州、吉安为基础。制糖工业集中于赣南甘蔗产区的南康、赣县。
      化学工业为江西新兴工业部门。九江已成为省内新兴的石油化工基地；南昌、新余以化肥生产为主；此外，还有九江、新干的制碱；南昌、鹰潭、德安的橡胶；南昌、于都、瑞金等地的塑料等。
      木材加工工业以赣州、吉安、樟树、南昌为主[19]  。
       2015年，全省规模以上工业增加值7268.9亿元。分经济类型看，国有企业增加值269.1亿元，股份制企业增加值2847.6亿元，私营企业增加值2992.2亿元，外商及港澳台商投资企业增加值1112.5亿元。分行业看，38个行业大类中33个实现增长，装备制造业实现增加值1655.2亿元，对全省工业增长的贡献率达27.7%。分产品看，350种产品中有207种产量实现增长，主要工业品中，十种有色金属167.8万吨，房间空气调节器372.9万台，太阳能电池560.5万千瓦。规模以上工业企业实现出口交货值2333.4亿元[22]  。</string>
		</array>
	</array>
</array>
</plist>
