<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>世界遗产</string>
		<array>
			<string>庐山</string>
			<string>       庐山，又名匡山、匡庐，是中华十大名山、世界文化遗产、国家AAAAA级旅游景区、中国四大避暑胜地。地处江西省九江市庐山市境内，山体呈椭圆形，典型的地垒式块段山。
       庐山位于东经115°52′～116°8′，北纬29°26′～29°41′。东偎婺源、鄱阳湖，南靠滕王阁，西邻京九铁路大通脉，北枕滔滔长江。长约25公里，宽约10公里，绵延的90余座山峰，犹如九叠屏风，屏蔽着江西的北大门，主峰汉阳峰，海拔1474米。
       庐山自古命名的山峰便有171座。群峰间散布冈岭26座，壑谷20条，岩洞16个，怪石22处。水流在河谷发育裂点，形成许多急流与瀑布，瀑布22处，溪涧18条，湖潭14处。最为著名的三叠泉瀑布，落差达155米，有“飞流直下三千尺，疑是银河落九天”之美句。
       庐山以雄、奇、险、秀闻名于世，具有极高的科学价值和旅游观赏价值，素有“匡庐奇秀甲天下”之美誉，与鸡公山、北戴河、莫干山并称“中国四大避暑胜地”。
       庐山入选为：世界文化遗产、世界地质公园、全国重点文物保护单位、国家重点风景名胜区、国家5A级旅游景区、中华十大名山、中国最美十大名山、中国四大避暑胜地、首批全国文明风景旅游区示范点等荣誉称号。
       含鄱口、三叠泉、芦林湖、五老峰、黄龙潭、好汉坡、三宝树等均为庐山著名的风景点。</string>
		</array>
		<array>
			<string>三清山</string>
			<string>       三清山又名少华山、丫山，位于中国江西省上饶市玉山县与德兴市交界处。因玉京、玉虚、玉华三峰宛如道教玉清、上清、太清三位尊神列坐山巅而得名。其中玉京峰为最高，海拔1819.9米，是江西第五高峰和怀玉山脉的最高峰，也是信江的源头。三清山是道教名山，世界自然遗产地、世界地质公园、国家自然遗产、国家地质公园。
       三清山主体南北长12.2公里，东西宽6.3公里，平面呈荷叶形，由东南向西北倾斜。位于欧亚板块东南部的扬子古板块与华夏古板块结合带的怀玉山构造快体单元内。地处怀玉山脉腹地，属花岗岩构造侵蚀为主的中山地形。山势是东、南、西三面陡峻，北面稍缓。从山脚至山顶，水平距离5km，海拔由200m陡增至1816m[1]  。
       三清山不同成因的花岗岩微地貌密集分布，展示了世界上已知花岗岩地貌中分布最密集、形态最多样的峰林；2373种高等植物、1728种野生动物，构成了东亚最具生物多样性的环境；1600余年的道教历史孕育了丰厚的道教文化内涵，按八卦布局的三清宫古建筑群，被国务院文物考证专家组评价为“中国古代道教建筑的露天博物馆”。
       世界遗产大会认为：三清山在一个相对较小的区域内展示了独特花岗岩石柱与山峰，丰富的花岗岩造型石与多种植被、远近变化的景观及震撼人心的气候奇观相结合，创造了世界上独一无二的景观美学效果，呈现了引人入胜的自然美[2]  。《中国国家地理》杂志推选为“中国最美的五大峰林”之一；中美地质学家一致认为是“西太平洋边缘最美丽的花岗岩”。</string>
		</array>
		<array>
			<string>龙虎山</string>
			<string>       龙虎山，位于江西省鹰潭市西南20公里处。东汉中叶，正一道创始人张道陵曾在此炼丹，传说“丹成而龙虎现，山因得名。其中天门山最高，海拔1300米。龙虎山是中国第八处世界自然遗产[1]  ，世界地质公园[2]  、国家自然文化双遗产地[3]  、国家AAAAA级旅游景区[4]  、全国重点文物保护单位。
       龙虎山是中国典型的丹霞地貌风景，是中国道教发祥地，2007年加入世界地质公园网络。龙虎山的丹霞地貌，是二座发育在中国东南部信江盆地中段南缘由晚白垩世陆相山麓洪—冲积扇块状红色砂砾岩组成的丹霞山体。[5] 
       据道教典籍记载，张陵第四代孙张盛在三国或西晋时已赴龙虎山定居，此后张天师后裔世居龙虎山，至今承袭六十三代，历经一千九百多年。[6] 
       2010年8月2日，龙虎山与龟峰被一并列入《世界自然遗产名录》。</string>
		</array>
		<array>
			<string>龟峰</string>
			<string>      龟峰是世界地质公园龙虎山—龟峰地质公园和世界自然遗产“中国丹霞”的组成部分[1-2]  ，位于弋阳县城南信江南岸，东距上饶60km，西距鹰潭35km，地处三清山、龙虎山和武夷山之间。因其“无山不龟，无石不龟”，且整座山体就像一只硕大无朋的昂首巨龟而得其名。
      龟峰发育于距今1.35亿年的白垩纪晚期，是雨水侵蚀型老年期丹霞峰林地貌的典型代表。地貌形态以峰林、陡崖、方山、石墙、石柱、石峰为特征，崖壁两侧雨水侵蚀型纵向线性沟槽发育，岩溶弱；微地貌景观及其景观组合以珍稀的丹霞造型石峰、石柱等为特色，保存有壮年期丹霞地貌的遗迹[3]  。
      龟峰共有36峰，集“奇、险、灵、巧”于一身，素有“江上龟峰天下稀”和“天然盆景”誉称。明代地理学家徐霞客游览龟峰后发出“盖龟峰峦嶂之奇，雁荡所无”的感叹[4]  。以发育丹霞洞穴群为特色，奇洞成群，共有大小28个岩洞。如始建于晋代“中华第一佛洞”南岩石窟、“禅宗古寺”双岩、“飞来禹迹”龙门岩。</string>
		</array>
	</array>
	<array>
		<string>豫章十景</string>
		<array>
			<string>滕王阁</string>
			<string>       滕王阁[téng wáng gé] ，江南三大名楼之一，位于江西省南昌市西北部沿江路赣江东岸，始建于唐朝永徽四年，因唐太宗李世民之弟——李元婴始建而得名，因初唐诗人王勃诗句“落霞与孤鹜齐飞，秋水共长天一色”而流芳后世。[2] 
       贞观年间，唐高祖李渊之子、唐太宗李世民之弟李元婴曾被封于山东滕州故为滕王，且于滕州筑一阁楼名以“滕王阁”（已被毁），后滕王李元婴调任江南洪州（今江西南昌），因思念故地滕州修筑了著名的“滕王阁”，此阁因王勃一首“滕王阁序”为后人熟知，成为永世的经典。
       滕王阁与湖北武汉黄鹤楼、湖南岳阳楼并称为“江南三大名楼”。历史上的滕王阁先后共重建达29次之多，屡毁屡建。
       2001年元月核准为首批国家AAAA级旅游景区。</string>
		</array>
		<array>
			<string>鄱阳湖</string>
			<string>       鄱阳湖[pó yáng hú]旅游景区，主要指湖区内的景点及自然保护区整体。湖区有41个岛屿和七个自然保护区。
       保护区内鸟类已达300多种，近百万只，其中珍禽50多种，已是世界上最大的鸟类保护区。世界上现有白鹤大约为4000多只。其中90%在鄱阳湖越冬。鄱阳湖是白鹤的世界，水鸟的天堂。
       鄱阳湖是长江江豚重要栖息地和种质资源库，江豚数量稳定，种群结构合理，属于长江江豚的优质种群。“截止2016年，鄱阳湖现有江豚数量为450头左右，是洞庭湖拥有江豚数量的5倍，占全中国一半。</string>
		</array>
		<array>
			<string>梅岭</string>
			<string>      梅岭风景名胜区位于南昌市西郊15公里处，在江南最大的“飞来峰”上，因西汉梅福于此修道而得名。又因位于城区之西，复又名西山。</string>
		</array>
		<array>
			<string>绳金塔</string>
			<string>       绳金塔，位于江西省南昌市西湖区绳金塔街东侧，原古城进贤门外，始建于唐天祐年间（公元904～907年），相传建塔前异僧惟一掘地得铁函一只，内有金绳四匝，古剑三把（分别刻有“驱风”、“镇火”、“降蛟”字样）还有金瓶一个，盛有舍利子三百粒，绳金塔因此而得名。
绳金塔古朴秀丽，具有中国江南建筑的典型艺术风格，自唐代始建至今，已有1100多年的历史，是历史信息的载体，是古代汉族劳动人民智慧的结晶。绳金塔素有“水火既济，坐镇江城”之说，是南昌人的镇城之宝。</string>
		</array>
		<array>
			<string>八一广场</string>
			<string>       八一广场，位于江西省南昌市东湖区，为南昌市的心脏地带，江西省最大的城市中心广场，南昌市和江西省政治、经济、文化、休闲、娱乐等活动的重要场所，原名人民广场。
       八一广场伫立着由叶剑英元帅题写的“八一南昌起义纪念塔”，广场集万宠于一身，文化、商贸、娱乐、休闲、餐饮、服务等在此各展魅力，是通往城市四方的直通大道，是江西省南昌市市民活动的中心。</string>
		</array>
		<array>
			<string>南昌之星</string>
			<string>       南昌之星摩天轮位于江西省南昌市红谷滩新区红角洲赣江市民公园，高度为160米，       2006建成时是当时世界最高摩天轮，现为目前世界上第五高摩天轮。</string>
		</array>
		<array>
			<string>百花洲</string>
			<string>       百花洲[bǎi huā zhōu]，为江西省南昌市东湖之中有三座小岛，合成百花洲。后来，也把整个东湖一带的风景区称之为百花洲。
东湖位于南昌市区中心，湖面约13公顷。自唐以来，东湖即为著名风景湖。明代以后，分成东、西、南、北四湖，有桥涵相通。东湖之中有三座小岛，俗称三洲即百花洲。现有九曲桥、百花桥及海成堤（亦称“苏翁堤”）跨湖通洲，洲上有“水木清华”馆、中山亭，百花洲亭，苏圃和文物广场等名迹，历史上的东湖书院、东湖书画会、南昌行营都设在这里。</string>
		</array>
		<array>
			<string>瑶湖</string>
			<string>      瑶湖是南昌地区最大的内陆天然湖泊，现有水面二万三千余亩(15.25平方公里），是南昌地区最大的天然湖泊。坐落于南昌市东郊，与江西师范大学相邻，与南昌市已开发的青山湖，艾溪湖连成一线，昌万公路贯穿湖心而过，福银高速（G70）沿湖东侧而过，与昌万公路相交处有麻丘入口，距南昌市进贤县军山湖（大闸蟹）仅26公里，距市中心——八一广场仅九公里。</string>
		</array>
		<array>
			<string>青云谱</string>
			<string>        青云谱[qīng yún pǔ]，位于江西省省会——南昌市区的南部，因境内的“青云谱道院”而得名，有“英雄城南大门”之称。
       有着悠久灿烂的历史文化和水域风光，有传统的工业制造基地，便捷的水陆空交通网络。区域面积43.2平方公里，人口约32万人，辖5个街道、1个镇和1个省级工业园，63个社区居委会、12个村民委员会。全区形成了自然水系、古色文化、园林生态、工业科技、休闲旅游、商贸购物、人居娱乐等七大特色。</string>
		</array>
		<array>
			<string>八一南昌起义纪念馆</string>
			<string>       南昌八一起义纪念馆成立于1956年，1959年10月1日正式对外开放，1961年被国务院公布为全国首批重点文物保护单位（所辖五处革命旧址-总指挥部旧址、贺龙指挥部旧址、叶挺指挥部旧址、朱德军官教育团旧址和朱德旧居）。
       在南昌市中山路380号，占地面积5903平方米。</string>
		</array>
	</array>
	<array>
		<string>九江六景</string>
		<array>
			<string>白鹿洞书院</string>
			<string>       白鹿洞书院，位于江西省九江市的庐山五老峰南麓，为中国四大书院之首，与湖南长沙的岳麓书院、河南商丘的应天书院、河南登封的嵩阳书院，合称为“中国四大书院”。白鹿洞书院因朱熹和学界名流陆九渊等曾在此讲学或辩论而成为理学传播的中心。几进几出的大四合院建筑，布局相当考究；从建筑材质结构上看，石木或砖木结构，以明、清建筑为主，屋顶为人字形硬山顶，颇具清雅淡泊之气。2000年开始，白鹿洞书院每年出版一本《中国书院论坛》，每年召开一次学术研讨会。</string>
		</array>
		<array>
			<string>东林寺</string>
			<string>       东林寺，位于江西省九江市庐山西麓，北距九江市16公里，东距庐山牯岭街50公里 。因处于西林寺以东，故名东林寺。东林寺建于东晋大元九年 （384年），为庐山上历史悠久的寺院之一。东林寺是佛教净土宗（又称莲宗）的发源地，也被日本佛教净土宗和净土真宗视为祖庭。1983年，被国务院列为汉族地区佛教全国重点寺院、国家著名佛教道场、江西省三大国际交流道场之一。东林寺自建造以来，至2014年已有1600多年历史，沧桑历尽，屡废屡兴。此外，九江还有能仁寺、西林寺等寺庙。</string>
		</array>
		<array>
			<string>浔阳楼</string>
			<string>       浔阳楼，中国江南十大名楼之一，位于江西省九江市区的九华门外的长江之滨。浔阳楼之名最早见之于唐代江州刺史韦应物的诗中。随后，白居易在《题浔阳楼》诗中又描写了它周围的景色，而真正使浔阳楼出名的是古典名著《水浒传》。小说中的宋江题反诗、李逵劫法场等故事使浔阳楼名噪天下。</string>
		</array>
		<array>
			<string>烟水亭</string>
			<string>       烟水亭，位于江西省九江市长江南岸的甘棠湖中，为江西省九江市著名景点之一，相传为三国时名将周瑜的点将台故址。唐代诗人白居易始建亭湖中，取其《琵琶行》诗句 “别时茫茫江浸月”，称“浸月亭”。宋代理学家周敦颐在九江讲学时，又在湖堤上另建一亭，取“山头水色薄笼烟”诗句，名“烟水亭”。随着时间的推移，两亭皆毁。至明末，重建烟水亭于浸月亭旧址。</string>
		</array>
		<array>
			<string>琵琶亭</string>
			<string>       琵琶亭，位于江西省九江市九江长江大桥东侧，面临长江，背倚琵琶湖。建于唐代元年，已有1200年历史，为江西省九江市著名景点，唐代元和十年(815年)，诗人白居易由长安贬任江州（今江西省九江市）司马。翌年秋天，送客于浔阳江（今江西省九江市北长江一段）头，有舟中夜弹琵琶者，听其诉说身世，触景生情因作《琵琶行》赠之，亭名由此而来。</string>
		</array>
		<array>
			<string>真如寺</string>
			<string>       云居山，位于江西省九江市永修县西南部，原名欧山，是国家重点风景名胜区，其山顶真如寺是佛教禅宗（曹洞宗）的发祥地，总面积216.5平方公里，主峰海拔969.7米。
       属宗教游览、休闲观光的山岳型自然风景名胜区。云居山自然风光秀丽，尤其是被誉为人间仙境的百花谷景区更为突出，沿途奇山异石，溪水瀑布，古寺牌楼，僧侣塔林，名胜古迹比比皆是。山上空气清新，植被繁茂，近2000多种天然植被，千年古杉树、千年古樟树、千年古银杏树、千年古桂花树、千年古栎树及近千年的伯乐树、香果树、罗汉松等树木比比皆是，盛夏酷暑气温仅为22度。</string>
		</array>
	</array>
	<array>
		<string>上饶三景</string>
		<array>
			<string>上饶灵山风景名胜区</string>
			<string>       上饶灵山风景名胜区地处江西省上饶市上饶县北部，是国家级风景名胜区，景区面积160平方公里。灵山被道家书列为“天下第三十三福地”。
       因山脉连绵起伏犹如一位侧躺着入睡的江南美女而被世人赞誉为“睡美人”。据清同治十一年的《上饶县志》所记，灵山共有72座山峰，主峰海拔1496米。山中还有山鸡、鲽鱼、石耳等名贵动植物及钽、铌、重晶石、锌、铁等地下资源。历代名人王安石、辛弃疾、韩元吉等对灵山多有赞美，现代文学家冯雪峰1941年曾作《灵山歌》抒发胸志。
       2006年10月，灵山获批为省级风景名胜区，景区规划总面积为101.5平方公里。2009年12月，申报国家级风景名胜区成功，2015年12月被评为国家4A级旅游景区。[1]  灵山位于上饶市中心旅游区域，自然环境独特，地质构造复杂，地貌类型多样，是道、佛二教圣地，道教书列天下第三十三福地，是一个集度假休闲、观光体验、宗教朝觐为一体的山岳型风景名胜区。</string>
		</array>
		<array>
			<string>文公山风景区</string>
			<string>       文公山位于婺源县西部，距县城仅27公里，主峰海拔315米，森林覆盖率达99%，大气环境质量远远优于国家一级标准。山上松、杉、栗、栲、楠、枫等名贵树种繁多，十万亩天然阔叶林遮天蔽日浩瀚无垠，森林里的树木，所释放出来的“芬多精”，人体吸入后可降低血压，杀灭结核、霍乱、赤痢、伤寒、白喉等等病原体。文公山是享受“森林浴”的绝佳胜地，是国家4A级风景名胜区。
       文公山原名“九老芙蓉山”。一代理学大师朱熹于南宋绍兴二十年（公元1150年），回乡省亲时亲手在其祖墓周围按八卦布局栽植了24棵杉树。历经八百多年的风雨，现存16棵，其中最高的38.7米，最粗者胸围3.43米，有“江南古杉王群”之誉。嘉定二年（1209年）宋宁宗谥朱熹为“文公”，后人故将山名改为文公山。文公山也因此闻名遐迩。
       文公山上的千年古驿道绵延不断、曲径通幽，是一条文化积淀丰富的休身养性之路。文公湖群山环抱、碧水连天、湖光涟渏；文公湖畔建有别致的休闲木屋、绿色餐馆、音乐茶座，还备有竹筏、游船供客人悠游垂钓；烧烤场地可供游客自由烹饪，尽享野炊之乐。还有林中时而闪现其间的山鸡、凤蝶、白鹇、野羚等，犹入生物大观园。 碧水、青山、凉亭、碑廊、楼阁、古树、古驿道、古文化的和谐组合，构筑了文公山绝美景色和养生奇境。让我们安排一次与森林的邂逅，做一个脱离俗世的隐遁者，领受森林的美丽与魅力</string>
		</array>
		<array>
			<string>鸳鸯湖</string>
			<string>       鸳鸯湖，位于婺源县西部赋春镇，景（德镇）白（沙关）公路西侧。离县城紫阳镇43公里；西接瓷都景德镇41公里；南距风景名胜区三清山201公里；北离旅游胜地黄山179公里。八十年代初，因水库周围生态环境良好，吸引了众多的鸳鸯来此越冬，故1986年后逐渐被改称为&quot;鸳鸯湖&quot;，1997年被定为&quot;省级自然保护区&quot;。</string>
		</array>
	</array>
	<array>
		<string>红色记忆</string>
		<array>
			<string>瑞金共和国摇篮景区</string>
			<string>       瑞金共和国摇篮景区，国家AAAAA级旅游景区，全国重点文物保护单位，全国爱国主义教育示范基地，全国红色旅游经典景区。
       瑞金共和国摇篮景区位于江西省赣州瑞金市，占地面积4550余亩，由叶坪、红井、二苏大、中华苏维埃纪念园（南园和北园）、中央苏区军事文化博览园等景区组成。景区风景秀丽，基础设施完善，是全国旅游观光、培育爱国情感和民族精神的重要基地，是赣闽边际红色旅游集散中心。
       瑞金共和国摇篮景区，既保留“形体”的简朴，又展现出内涵的“身价”，旧址群、纪念园、博物馆各具特色，一处一诗，一步一景，是融参观、瞻仰、会议、休闲、度假为一体的理想场所。</string>
		</array>
		<array>
			<string>赣南省苏维埃政府</string>
			<string>　　赣南省苏维埃政府于1934年7月成立,8月驻此办公,主席钟世斌,副主席王孚善,下设内务部、财政部、国民经济部、土地部、粮食部、劳动部、教育部、裁判部等工作部门。主要任务是掩护和支援中央机关和红军主力顺利集结和安全突围。在中央红军集结于都时,开展筹粮扩红、征调伕子、坚壁清野等工作。在短短几个月时间内,筹集粮食18万担,筹款44000多元,扩红14000多名,还筹集了大量的被服、草鞋和果品支援红军。9月初,毛泽东同志来到于都在此居住。10月,红军主力突围长征后,赣南省苏政府与省委、军区(驻于都县载舒屋)领导机关即撤离于都县城,迁往于都南部的黎村、小溪等地山区活动,由于粤军的包围-,后退至上坪山区,自1935年3月实行分散突围后,赣南省自然解体。旧址为砖木结构,悬山顶,坐南朝北,房前一小院,院门楼朝西,总占地面积636平方米。
　　赣南省苏维埃政府旧址及长征前夕毛泽东同志旧居——于都县城的北门何屋,房子原为何姓人的民房。房子比较宽敞，房子前后有小院，共计房间三十余间，占地636平方米。1934年7月根据革命形势的需要，在于都县城成立0赣南省委和苏维埃政府、省苏机关就驻在这里。赣南省苏主席为钟世斌，副主席王孚善，赣南省苏维埃政府下设内务部、财政部、国民经济部、土地部、粮食部、劳动部、教育部、工农检查部、裁判部、政治保卫局等工作部门。
　　这里也是长征前夕毛泽东同志旧居。1934年9月上旬，毛泽东从瑞金云石山来到于都，住在这幢房子的东厢房，毛泽东这次来于都，虽然身体不太好，但仍然紧张而有秩序地开展工作。他经常深入群众调查研究，检查与指导了赣南省苏维埃政府的工作。在这个小厅里，他亲自主持召开了贫苦工农座谈会和区、乡、村干部座谈会，同到会代表促膝谈心，了解他们的生活、生产情况，教育苏区干部要关心群众生活，注意工作方法，要努力学习马列主义，自己有了缺点错误，要自觉向群众检讨，要经常开展批评与自我批评。毛泽东在于都期间还受当时中革军委副主席-的委托深入到罗江、小溪等地调查敌情，9月20日在这里发出了《毛泽东关于信丰、于都等地区敌人活动情况致-电》，为红军战略转移的部署提供了重要的决策依据。10月18日，毛泽东离开何屋，随同中央纵队渡过于都河，踏上了漫漫长征路。</string>
		</array>
		<array>
			<string>中共赣南省委旧址</string>
			<string>　　赣南省是1934年7月为适应红军主力即将实行突围转移的战略需要而设立的，初辖于都、登贤、赣县、杨殷等四县和信康、南雄两个远殖游击区，后又辖寻乌、安远、会昌、于西县和兴龙、寻安县。8月，赣南省委驻此办公，省委书记由钟循仁担任（后阮啸仙），组织部长罗孟文、宣传部长潘汉年（后杨尚奎）、白区工作部长张瑾瑜、妇女部长刘莲仔。赣南省委还不定期出版了机关刊物《省委通讯》。于都成为中央红军长征出发的集结地并安全实施突围，其中很大程度上与赣南省委、省苏所做的大量地发动群众、开展筹粮和扩红工作是分不开的。
　　赣南省从设立始至1935年3月实行分散突围到信丰坚持游击战争，历时9个月，其主要领导人先后牺牲，至此赣南省自然解体。旧址为砖木结构，硬山顶，坐北朝南，面阔9.9米，进深25.4米，占地面积251平方米。
　　天主堂是美国传教士所建，房屋系砖木结构，座北朝南，面积为251平方米。1987年江西省人民政府公布为省级文物保护单位。
　　1934年7月，0赣南省委成立时，省委机关驻在这里。0赣南省委下设组织部、宣传部、白区工作部、妇女部，省委书记钟循仁，组织部长罗孟文，宣传部长潘汉年（后-），白区工作部长张瑾瑜，妇女部长刘莲仔。0赣南省委还不定期出版了机关刊物《赣南省委通迅》。
　　0赣南省委成立后，积极响应0中央的号召，适时地发布了一系列通令和通告，领导和动员全省群众广泛开展游击战争，积极配合红军作战，迅速开展扩红运动。在中央红军集结于都时，0赣南省委还遵照中央部署，有计划有组织地征调了大批夫子，帮助红军运输物资器材，开展大规模的筹粮、筹款等工作。
　　为了支援和掩护中央红军顺利集结于都和突围西征，10月15日0赣南省委在县城谢家祠召开了省、县、区三级干部大会，研究和部署了有关工作，从人力、物力方面支援红军战略转移，同时，广泛组织游击队，开展游击战争，打击和牵制敌人。
　　0赣南省委从1934年7月建立至1935年3月分散突围，历时仅九个月，但它领导赣南人民进行英勇斗争的业绩将永远载入革命史册。</string>
		</array>
		<array>
			<string>红军大桥</string>
			<string>“红军大桥”由原国家军委副主席张震亲笔题名，位于县滨江大道，她一头是是长征艺术广场，一头是江西省十佳工业园于都楂林工业园。大桥于2003年7月1日峻工通车，是于都工业的主要交通枢纽。</string>
		</array>
		<array>
			<string>于都长征大桥</string>
			<string>　　“于都长征大桥”位于县城323国道上，也是当年以彭德怀为军团长、-为政委的红三军团渡于都河出发长征的主要渡口——西门塔脚下渡口。她与红军大桥和宝塔公园一起构成了县城一江两岸格局，是县城滨江路一道无比亮丽的风景线。
　　1934年10月上旬，红三军团从石城撤离战场，经宁都南部，15日到达于都的曲洋、汾坑、车头等地。17日至18日傍晚，红三军团17805人分别从这里和县城的南门、罗坳的孟口渡过于都河踏上长征之途。渡河前，红三军团在县城的东门沙坝召开全军团指战员动员大会，军团长彭德怀、政委-先后在大会讲话。彭德怀在会上告诫战士们过浮桥时，大家要镇静，不要拥挤，同时还要求战士们写信回家告诉自己的父老乡亲要保卫胜利果实和严守秘密，红军一定会回来的。
　　为了缅怀先辈伟绩和解决两岸群众过河困难，1995年在各级政府的关心支持下，全县干部职工群众就像当年支援红军渡河长征一样，纷纷解囊捐款，在此修建了一座全长607.14米，桥面宽15米的大桥，于1997年5月1日胜利竣工通车。1996年10月1日，在中国工农红军长征胜利六十周年之际，-主席视察赣南老区时，听说于都正在中央红军渡于都河长征时的老渡口修建大桥，欣然为大桥题名“于都长征大桥”。</string>
		</array>
	</array>
	<array>
		<string>余市五景</string>
		<array>
			<string>大觉山自然风景区</string>
			<string>       亚洲第一漂是武夷山脉中段一处原生态的“人间净土”，位于资溪县城东约7公里，总面积204平方公里。景区内峻石峭壁、奇花异木、洞窟飞瀑，充满了神奇与奥秘。主要景点有：峡谷飞舟漂流，全长3.6公里、落差188米的漂流河道，途经一峪、三弯、六潭、九瀑等急流险滩。</string>
		</array>
		<array>
			<string>明月山</string>
			<string>       宜春通过连续十年成功举办月亮文化节，月亮文化日益丰满，已成为宜春的标识。明月山风景区是月亮文化的发源地，是国家级风景名胜区、国家5A景区、国家森林公园、国家地质公园、国家自然遗产、中国温泉之乡。我们按照“建好月亮景、办好月亮节、唱响月亮牌”的工作思路，将月亮文化与禅宗、温泉、农耕文化有机结合，打造了情月相融、泉月相映、禅月相通、农月相趣“四星捧月”的旅游产品，使明月山成为了赣西绿色精粹旅游线路上一颗璀璨的明珠。</string>
		</array>
		<array>
			<string>武功山</string>
			<string>       武功山位于吉安市安福县西北部。主要景观分布在三天门、观音岩、金顶这3个景区之中。三天门景区位于武功山主峰金顶的南面约5公里处，海拔1000米。三天门古称图坪坳，四面环山，宽阔平坦，周围还有众多的深谷飞瀑。这里保存有较好的次原始林带，名木古树。龙潭瀑布、白龙岩瀑布是景区内两个较大的飞瀑。由三天门往西，沿“之”字形古道登山，约3公里便到了观音岩。这里海拔1500米，因其地势险绝，时见佛光，故名观音岩。这里的景观有三空禅师塔、仙迳岩刻、白法庵遗址、孝子剖鱼岩等。从白法庵顺古道蜿蜒上行约2公里，便到了主峰金顶。这里海拔1918.3米，雄踞于群山之上，视野广阔，无遮无拦。这里，当海拔达1600米以上时，山上的树木都消失了，四面全是以白茅为主的草甸，面积达10多万亩。高山草甸成为江南罕见的风光。金顶又名白鹤峰，这里的景观较为集中，主要有白鹤寺遗志、葛仙坛，各种奇岩怪石，还是看日出、云海的好地方。武功山还是宗教文化的繁衍之地。自三国东吴赤乌年间开始，道徒们就已来此修身炼丹。道教祖师葛玄、葛洪及郑思远、正一教育天师张彦羽页等，都在这里留下了遗踪。至今众多的道坛还屹立予山谷峰巅。武功山声名远播，释家们也接踵而来。到了明代，山上已是“僧道各半”。白法庵、胜佛禅林等遗志尚在，塔林遍布山上。陶渊明、黄庭坚、杨万里、邹守益、文天祥、罗洪先、徐霞客等在这里留下了优美的诗文。</string>
		</array>
		<array>
			<string>仙女湖</string>
			<string>       仙女湖是闻名遐迩的湖泊型国家重点风景名胜区、国家AAAA级旅游景区；位于江西省新余市西南郊16公里处；属亚洲最大的亚热带树种基因库；也是东晋文学家干宝所著古籍《搜神记》中记述的“毛衣女下凡”传说和“中国七夕情人节”的发源地，以“情爱圣地、群岛峡谷曲水、千年水下古城、亚热带植物基因库”四大绝景著称；198平方公里的景区，50平方公里的湖面，岛屿星罗棋布，湖水清澈见底，原始森林神秘诱人；仙女湖自然风光秀美朴实，具有“幽、秀、奇、雄”之特点，景区兼具湖泊型和山岳型两大类型。
       2010年依据本地“毛衣女下凡”的传说被拍成古装爱情神话电视剧《仙女湖之墨仙》，于2013年正月初二在CCTV-1播出。大大促进了仙女湖的旅游业发展。</string>
		</array>
		<array>
			<string>景德镇古窑民俗博览区</string>
			<string>       景德镇古窑民俗博览区位于江西省景德镇市昌江区枫树山蟠龙岗，占地83公顷，是集文化博览、陶瓷体验、娱乐休闲为一体的文化旅游景区，是全国唯一一家以陶瓷文化为主题的国家级旅游景区。
       景德镇古窑民俗博览区主要景点有历代古窑展示区，陶瓷民俗展示区，水岸前街创意休憩区三大景区。2013年4月，景德镇古窑民俗博览区获得“国家AAAAA级旅游景区”荣誉称号。</string>
		</array>
	</array>
</array>
</plist>
