<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>江西古代名人</string>
		<array>
			<string>杨万里</string>
			<string>    杨万里（1127－1206年），字廷秀，号诚斋。吉州吉水（今江西省吉水县）人。南宋杰出的诗人。一生力主抗金，与尤袤、范成大、陆游合称南宋“中兴四大诗人”。</string>
		</array>
		<array>
			<string>姜夔</string>
			<string>    姜夔（1155～1221），饶州波阳（今江西鄱阳）人。南宋著名的音乐家和词人。字尧章，号白石道人，他多才多艺，精通音律，其词格律严密。其作品素以空灵含蓄著称。有《白石道人歌曲》。 
</string>
		</array>
		<array>
			<string>陶渊明</string>
			<string>    陶渊明（365—427），浔阳柴桑（今江西九江）人。东晋著名诗人。一名潜，字元亮，私谥靖节，号五柳先生。是我国第一位田园诗人。著有《陶渊明集》，写《桃花源记》、《五柳先生传》。</string>
		</array>
		<array>
			<string>周敦颐</string>
			<string>    周敦颐（1017—1073），字茂叔，晚年定居在江西九江的庐山莲花峰下，北宋思想家、哲学家、儒家学者，我国理学的开山之祖。北宋道州营道（今湖南道县）人。谥号元，世称周元公，学者称濂溪先生。周敦颐是宋代著名的思想家和教育家，宋代理学的奠基人，周敦颐一生主要在江西做官，曾任分宁（今修水）主簿、南昌县令、虔州（今赣州）通判、知南康军（治所在今星子县）等。他为官清正、尽心竭力、深得民心。他的人品学识，受到当时与后世人们的普遍尊崇，如黄庭坚说：“茂叔人品甚高，胸中洒落，如光风霁月。”他一生两次来九江任职，并终老于九江。也是对九江影响很大的历史名人。周敦颐是宋明理学的开山鼻祖，他的哲学著作有《太极图说》、《通书》等。他继承了孔、孟、董仲舒、韩愈的儒家正统思想，并吸取了佛道思想的主要内容，融化贯通，开创了宋代理学，后经过他的弟子程颢、程颐等的继承完善，逐步形成了一套完整的哲学思想体系，后又经朱熹的发扬光大，终于成为中国封建社会后期的正统哲学思想，对中国社会的发展产生了重大影响。周敦颐又是一位教育家，他在庐山莲花峰下建濂溪书院，在此讲学和研究。濂溪书院对于培育人才，传播文化起了一定的作用。周敦颐又是一位文学家。他是宋代理学诗派的开风气者，诗文作品反映了这位理学大师的政治思想、人格追求和审美情趣。风格雅正明洁、古朴平易。著名的作品有《爱莲说》。周敦颐的《爱莲说》也成为千古传诵的名作。伟大的文学家鲁迅（周树人）、中华民族伟大英雄周恩来都是周敦颐的后代。</string>
		</array>
		<array>
			<string>陆九渊</string>
			<string>    陆九渊（1139－1192），抚州金溪（今江西省抚州市金溪县）人。南宋哲学家、教育家。号象山，字子静。陆九渊是宋代著名的理学家、主观唯心主义哲学家，与当时著名的理学家朱熹齐名，史称“朱陆”。陆九渊是中国“心学”的创始人。明代时王阳明发展其学说，成为中国哲学史上著名的“陆王学派”，对近代中国理学产生深远影响。被后人称为“陆子”。</string>
		</array>
		<array>
			<string>文天祥</string>
			<string>    文天祥（1236—1283），庐陵（今江西吉安）人，南宋杰出的民族英雄和爱国诗人。著作有《文山先生全集》，著名诗篇有《正气歌》、《过零丁洋》等。《过零丁洋》、《正气歌》为千古绝唱，是中华民族精神的象征。</string>
		</array>
		<array>
			<string>欧阳修</string>
			<string>    欧阳修（1007—1072），吉州永丰（今江西省吉安市永丰县）人。北宋著名的政治家、文学家、历史学家。唐宋八大家之一。欧阳修不仅是文学家，欧阳修还是历史学家（这方面鲜为人知），欧阳修曾与宋祁合修《新唐书》，并独撰《新五代史》。欧阳修是在宋代文学史上最早开创一代文风的文坛领袖。欧阳修领导了北宋诗文革新运动，继承并发展了韩愈的古文理论。他的散文成就很高，从而开创了一代文风。</string>
		</array>
		<array>
			<string>解缙</string>
			<string>    解缙（1369—1415），字大绅，江西省吉水县人，明代著名大才子。他才思敏捷，十九岁中进士，为明朱元璋所器重。明成祖朱棣当皇帝后的永乐元年，任翰林学士，主持纂修《永乐大典》，永乐六年正式完成。《永乐大典》全书共22937卷，目录60卷，装成11095册，总字数约3.7亿字。《永乐大典》收录汇集了上自先秦、下迄明初的8000多种古书典籍，除了著名的经史子集，还有哲学、文学、历史、地理、宗教、医卜等各类著作，包罗万象，是中国历史上最大的一部百科全书，保存了明代以前大量的哲学、历史、地理、语言、文学、艺术、宗教、科学技术等方面丰富而可贵的资料。尤其值得称道的是，当时规定：所收集录入的古书典籍，不准删改，必须照原著整部、整篇、整段地编入，因此《永乐大典》保存了我国宋元以前大量的珍贵文献典籍。明代以前许多失传的书籍都赖《永乐大典》而得以保存。《永乐大典》是中华民族珍贵的文化遗产。《永乐大典》不仅是我国最早、最大的一部百科全书，而且是迄今为止世界上最大、最早的百科全书。《永乐大典》比法国狄德罗主编的百科全书和著名的《大英百科全书》都要早三百余年。</string>
		</array>
		<array>
			<string>宋应星</string>
			<string>    宋应星（1587—1661），字长庚，明代江西省南昌府奉新县（今江西省宜春市奉新县）人，中国明代末期伟大的科学家、科技家。宋应星生于明神宗万历十五年（1587年），万历年间中举人。曾任江西分宜教谕、汀州推官、亳州知府等职。明亡后弃官归乡。著有伟大的科学技术巨著《天工开物》。《天工开物》是我国古代不朽的一部科学技术巨著。《天工开物》是中国最早的工艺百科全书。《天工开物》在我国乃至世界科技史上均占有重要地位。关于宋应星，我在这两个建议《建议对世界现行公历（阳历）进行改革的三个方案》、《建议把农历十月十六确定为：科技节、天工节、天工开物节》中已有详细的介绍，请参考。</string>
		</array>
		<array>
			<string>汤显祖</string>
			<string>    汤显祖（1550—1616年），中国明代伟大的戏剧家、文学家。江西抚州府临川县（今江西省抚州市临川区）人。字义仍，号若士、海若，别号玉茗堂主人。汤显祖的戏剧著作有《紫箫记》（后改为《紫钗记》）、《牡丹亭》（又名《还魂记》）、《南柯记》、《邯郸记》，这四部戏剧共称为“临川四梦”。中国的汤显祖（1550—1616）和英国伟大的戏剧家莎士比亚（1564—1616）是同一时代的人，汤显祖比莎士比亚大14岁，汤显祖和莎士比亚这两位伟大的戏剧家都是在同一年（1616年）逝世的。汤显祖被称为“中国的莎士比亚”、“东方的莎士比亚”。关于汤显祖，我在建议《建议在我国的某些城市建造“《牡丹亭》公园”》以及《建议把农历十二月初四设定为“中国《牡丹亭》文化节”》中有详细的介绍，请参考。</string>
		</array>
	</array>
	<array>
		<string>江西近现代名人</string>
		<array>
			<string>邓超</string>
			<string>    男，著名演员。1979年出生于江西南昌，1998年毕业于中央戏剧学院表演系，分配至中国国家话剧院。2002年主演《少年天子》成名，2006年主演冯小刚导演的《集结号》获得百花奖最佳男配角奖。主要作品有电视剧《幸福像花儿一样》、《甜蜜蜜》、《少年包青天3》、《倚天屠龙记》、《相爱十年》；电影《李米的猜想》、《狄仁杰之通天帝国》、《中国合伙人》、《四大名捕3》、《新一代导演新势力》等综艺节目《奔跑吧兄弟》，并自导自演了电影《分手大师》。</string>
		</array>
		<array>
			<string>刘涛</string>
			<string>    1978年7月12日出生于江西南昌，广州外语外贸大学毕业。曾经当过文艺兵，后来拍广告，并进入影视圈。2003年出演《还珠格格3》和《天龙八部》走红。主要作品有《问君能有几多愁》、《白蛇传》、《女人花》、《贤妻》、《老有所依》等。近期电视剧《狼琊榜》、《芈月传》等。</string>
		</array>
		<array>
			<string>杨钰莹</string>
			<string>    女，本名杨岗丽，1971年出生于江西南昌，中国第一代签约歌手，偶像歌手的代表人物，被誉为甜歌皇后、歌坛玉女。</string>
		</array>
		<array>
			<string>陈红</string>
			<string>    女，著名演员，制片人，国际大导演陈凯歌之妻。1968年生于江西省的信江之滨—上饶市，父母是高级知识分子，自幼受好良好的家庭教育。她从小就显示出了艺术天才，从小学开始她就是学校的文艺骨干，高中时担任了校学生会的文艺部长。1986年陈红考入了上海戏剧学院表演系，毕业后分配到北京青年艺术剧院。主要作品有电视剧《大明宫词》、《吕布与貂蝉》、《梅花三弄》、《几度夕阳红》、《青青河边草》、《三国演义》、《新龙门客栈》，电影《香香闹油坊》、《雾宅》等。</string>
		</array>
		<array>
			<string>黄磊</string>
			<string>    男，著名演员，1971年出生于江西南昌。1990年考进北京电影学院表演系，研究生毕业后，一边留校任教，一边接拍电影，间或还出专辑。1996年以《新夜半歌声》一片获香港电影金像奖最佳新人奖、长春电影节最佳男配角并荣获金鹿杯。主要作品有电影《新夜半歌声》，《半生缘》、《爱情命运号》、《兔侠之青黎传说》、《爸爸去哪儿2》、《麦兜我和我妈妈》等，电视剧《人间四月天》、《橘子红了》、《吕布与貂蝉》、《家》、《夫妻那些事》、《男人帮》、《我爱男闺蜜》等。</string>
		</array>
		<array>
			<string>喻恩泰</string>
			<string>    男，1977年出生江西南昌。1995年考入上海戏剧学院电视系电视编辑专业，1999年曾任澳门卫星电视节目主持，2000年以总分第一名考入上海戏剧学院主持人方向研究生，毕业后做自由撰稿人，主要作品有《武林外传》等。</string>
		</array>
		<array>
			<string>杨洋</string>
			<string>    中国内地新生代女歌手、演员，1989年6月8日出生于江西省赣州市章贡区，毕业于江西师范大学本科班。2011年参加湖南卫视快乐女声全国五强出道。2012年7月发行个人专辑《宇宙只有我和你》，并演唱多首影视主题曲《爱在线》、《诺》、《开心往前飞》等。</string>
		</array>
		<array>
			<string>罗琦</string>
			<string>    1975 年6月6日出生于江西省南昌市，中国大陆女歌手。1991年，罗琦加入指南针并担任主唱正式出道。</string>
		</array>
		<array>
			<string>高希希</string>
			<string>    男，著名导演，1962年生于南昌，现任中国人民解放军空军电视艺术中心导演。从小学习绘画，先在江西文艺学校学美术，然后到浙江美术学院进修，毕业后在 江西电影制片厂从事美工工作。1990年，考上北京电影学院导演系研究生。毕业后，开始导演之路，作品囊括了包括电视剧“飞天奖”、“金鹰奖”、电影“华 表奖”几乎所有重要奖项。</string>
		</array>
	</array>
</array>
</plist>
