<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>鄱湖胖鱼头</string>
			<string>       鄱湖胖鱼头是一道江西省九江市的特色传统名菜，属于赣菜系浔阳菜一支。因其鲜辣微酸、肥嫩鲜美、营养丰富且主材胖鱼头乃是产自中国最大淡水湖暨江西人民的母亲湖鄱阳湖，赣味极其浓厚而位列十大赣菜之首。</string>
		</array>
		<array>
			<string>四星望月</string>
			<string>       四星望月是江西省赣州市兴国县当地的一道汉族传统菜肴，属赣菜系赣南客家菜一支，俗称“兴国粉笼床”，是1929年4月，毛泽东率红四军转战到赣南时特地点名要的客家美食，同时拥有“天下第一菜”的盛誉。 该菜品具有“鲜香辣爽”的特点，已被列入“十大赣菜”中。</string>
		</array>
		<array>
			<string>藜蒿炒腊肉</string>
			<string>       藜蒿炒腊肉，是一道著名的江西汉族名菜，属于赣菜系列，是十大赣菜之一，其主料藜蒿产自中国最大的淡水湖鄱阳湖沿岸一带。
藜蒿炒腊肉以其“脆嫩爽口，醇香柔润”的特点。在所有蔬菜与腊肉的组合中，要数藜蒿达到了最高境界。咸香柔软的腊肉，配上藜蒿独特的淡香。吃上一口，唇齿生香，回味无穷。也难怪上至宾馆酒楼，下至酒家排档家庭餐桌，都少不了它的身影。招待外地朋友，藜蒿炒腊肉也成了首选，是必备的一道压轴菜。</string>
		</array>
		<array>
			<string>庐山石鸡</string>
			<string>       庐山石鸡，蛙的一种，叫石蛙，是著名的庐山“三石”之一。庐山三石：石耳、石鸡、石鱼。
       庐山石鸡是江西省九江市庐山区的一道汉族名菜，属赣菜系浔阳菜一支。庐山石鸡选用阴涧岩壁洞穴中的蛙加辣椒等佐料精致而成。庐山石鸡具有“色泽深黄，肉质细嫩，香味浓郁，口味甚醇”的特点，深受民众喜爱。</string>
		</array>
		<array>
			<string>余干辣椒炒肉</string>
			<string>       余干辣椒炒肉属赣菜系饶帮菜一支，是江西省上饶市余干县的一道名菜，属“十大赣菜”之一。余干辣椒炒肉所用的辣椒为余干县当地特产辣椒——余干枫树辣。 [1] 
余干辣椒炒肉具有“辣嘴不辣心，皮薄肉厚”的特点，是在江西大街小巷的大小餐馆酒店都可以吃到的一道佳肴。</string>
		</array>
		<array>
			<string>萍乡烟熏肉</string>
			<string>       萍乡烟熏肉是江西萍乡市传统的特色名菜，属于赣菜系萍乡菜一支。腊香扑鼻，芳香四溢，酥软可口，滑而不腻，是佐酒下饭的佳品。主料烟熏肉取自萍乡市当地土特产烟熏猪肉，因其具有“肉香四溢、扑鼻不止”的特点而入选“十大赣菜”之一。
       萍乡烟熏肉是江西最受游客喜爱的十道菜之一[1]  、中国赣菜名菜[2]  、萍乡“十大名菜”之一[3]  。</string>
		</array>
		<array>
			<string>莲花血鸭</string>
			<string>       莲花血鸭属赣菜系萍乡菜一支，是江西省萍乡市莲花县的一道汉族名菜。莲花血鸭因具有“色美味香、鲜嫩可口”的特点而被列入“十大赣菜”之一。
2009年申报省级非物质文化遗产成功。</string>
		</array>
		<array>
			<string>老表土鸡汤</string>
			<string>       老表土鸡汤是江西省宜春市袁州区传统的特色名菜，属于赣菜系袁州菜一支。因其肉质鲜嫩，鲜香爽口兼具滋补养身的神奇功效而被列入“十大赣菜”之一。老表土鸡汤的主料土鸡为袁州当地特产袁州土鸡。相传此菜于朱元璋有关。</string>
		</array>
		<array>
			<string>永和豆腐</string>
			<string>       永和豆腐是江西省吉安县永和镇汉族特色美食。因其具有“细腻、淳厚、爽滑、筋道”的优点，而被列入“十大赣菜”之一。</string>
		</array>
		<array>
			<string>井冈烟笋</string>
			<string>       井冈烟笋是一道以乌烟笋、猪肉丝、干红椒为主材的赣系十大菜肴之一，为江西省井冈山山区特色的传统名肴。因井冈烟笋肉的味非常甘美，而笋味显得绵长，非常适合下饭而深受世人喜爱。</string>
		</array>
	</array>
	<array>
		<array>
			<string>南昌米粉</string>
			<string>       南昌米粉是江西省南昌地区名产。江西是鱼米之乡，盛产大米，因此也有很多大米做的食品，其中米粉是老百姓日常主食。
久负盛名的南昌米粉，具有洁白、细嫩、久漂不烂、久炒不碎的特点。南昌米粉历史悠久，主要制作原料是优质晚米。要经过浸米、磨浆、滤干、采浆等多道工序。吃法也方便、简洁，可以凉拌米粉、炒煮米粉，放入姜沫、蒜沫、麻油、酱油、葱花、咸菜沫、最不可少的是南昌人喜欢的辣椒和胡椒粉。</string>
		</array>
		<array>
			<string>瓦罐煨汤</string>
			<string>       瓦罐汤，完全采用民间传统煨汤方法，以瓦罐为器，精配食物加以天然矿泉水为原料，以硬质木炭火恒温传统式六面受热，煨制达七小时以上。终于演译成倍具民间传统特色又合乎现代人口味的美食。瓦罐之妙处在于土质陶器，秉阴阳之性含五行之功效，久煨之下原料鲜味及营养成分充分溶解于汤中，其味鲜香淳浓，食后令人久而难忘。</string>
		</array>
		<array>
			<string>饺子粑</string>
			<string>       饺子粑是景德镇有名的小吃，源自都昌，历史上，许多都昌人移民到景德镇，景德镇号称“都昌人的码头”，都昌人不但影响了景德镇的语言和文化，也把美食带过去，饺子粑就是其中之一。
一般景德镇人都把饺子粑当早餐和夜宵吃。薄薄的皮包上各种各样的馅再放到蒸笼里面一蒸，香，透过皮里面的馅都可以隐隐约约的看到了。当然也有蒸完了以后再用油小炸一下，风味而又不同。
饺子粑分为辣馅和不辣馅。辣的一般是用萝卜丝配上辣椒成馅，利用韭菜豆腐或韭菜鸡蛋做馅的是不辣的。另外，还有豆干，豆芽馅的好多种配馅方式，种类各异，全凭个人喜好了。如果你不太会吃辣，第一次去吃的话就一定要记清楚，说清楚是要不辣的，不然以景德镇人的口味，会让你辣到流泪。</string>
		</array>
		<array>
			<string>牛肉炒粉</string>
			<string>牛肉炒粉是江西省一道汉族名菜，牛肉含丰富的蛋白质，氨基酸，而米粉含有丰富的碳水化合物、维生素、矿物质及酵素等。江西人吃米粉，有着久远的历史文化。</string>
		</array>
		<array>
			<string>碱水粑</string>
			<string>       由于碱水粑的制作工艺都是以口口相传的方式传承，因此仅作为地方特色小吃的形式而存在，多在江西一带（例如：景德镇、婺源、吉安）
景德镇人最喜欢吃的小吃包括冷粉、饺子粑和碱水粑，其中冷粉和饺子粑几乎是每个早餐店里的必备食品，而碱水粑都会被好客的镇巴佬当作招待外地客人的最佳小吃。</string>
		</array>
		<array>
			<string>月亮巴</string>
			<string>       月亮巴，是赣南民间土特产，全称月亮花生巴，月亮豆巴子，也是客家美食之一，以其形如“满月”而得名。
月亮花生巴是以面粉为主要原料，佐以五香调味品、灿米粉、鲜花生仁、经加工成型后，在油锅中煎炸而成。酥、松、脆，香气郁雅风味独特，具有香脆可口、松酥宜人的特点是老少皆宜的传统休闲食品。</string>
		</array>
		<array>
			<string>龙南珍珠汤</string>
			<string>       龙南珍珠汤，是江西龙南著名的小吃，属于客家菜。香味袭人，清爽可口，而且是对人体有滋养功能的绿色食品，因此大受人们欢迎。在客家人的集散地—江西省龙南县，有着浓厚的客家文化，客家围屋、客家服饰、客家山歌……源远流长，耐人寻味。同时，龙南的客家风味小吃也琳琅满目，令人垂涎三尺。</string>
		</array>
		<array>
			<string>赣州麻通</string>
			<string>       赣州麻通又称麻枣，已有近百年的历史。它的主要原料为上等糯米、白糖、芝麻、茶油、饴糖。其制作过程有磨粉、制坯、干燥、油炸、熬糖、沾麻、检验、包装等几道工序。
质量好的麻通，油炸时有发头，全体肥大，皮薄如纸，内空似瓜瓤，腹中为白丝。吃起来，“落口溶”无渣，香酥可口，是人们欢度春节之佳品，同时也可馈赠亲友。该产品于1984年获江西省米制品评比一等奖。</string>
		</array>
		<array>
			<string>黄元米馃</string>
			<string>       黄元米馃，是赣南客家人独特的食品之一，其历史悠久，早在明朝正德年间就被列为贡品。打黄元米馃也是赣南客家的一项重要民俗活动，其营造出的和睦共处、团结协作氛围，使客家人深深留恋，即使在食品加工机器普遍采用的今天，黄元米馃仍保留着传统的手工制作方式。</string>
		</array>
		<array>
			<string>瓷泥煨鸡</string>
			<string>       瓷泥煨鸡，是景德镇的传统名菜，这道菜鸡身完整、色泽诱人、鸡肉鲜嫩、酥烂飘香、食不嵌齿。此道菜品的由来是，相传清代时，景德镇的瓷工喜好将嫩鸡去毛、破腹后，在鸡腹内填满猪肉末及生姜、葱花、麻油、食盐之类的佐料，再用荷叶包扎好，然后将绍兴老酒淋入瓷泥中，拌匀后，最后用含酒的瓷泥将嫩鸡及荷叶团团裹住，将鸡埋入刚开窑的热窑内的塾渣中，煨烤十个钟头左右，便可取出。剥去瓷泥与荷叶，即可食用。</string>
		</array>
	</array>
	<array>
		<array>
			<string>赣南脐橙</string>
			<string>       赣南脐橙，江西省赣州市特产，中国国家地理标志产品。[1]  赣南脐橙年产量达百万吨，原产地江西省赣州市已经成为脐橙种植面积世界第一[2]  ，年产量世界第三、全国最大的脐橙主产区。[3] 
       赣南脐橙果大形正，橙红鲜艳，光洁美观，可食率达85%，肉质脆嫩、化渣，风味浓甜芳香，含果汁55%以上。[4] 
       赣南脐橙已被列为全国十一大优势农产品之一，荣获“中华名果”等称号。赣南脐橙作为江西省唯一产品，入围商务部、质检总局中欧地理标志协定谈判的地理标志产品清单。</string>
		</array>
		<array>
			<string>南丰蜜桔</string>
			<string>       南丰蜜桔（别称贡桔、蜜桔、南丰桔）是我国柑桔中的优良品种，同时也是江西省的名贵特产。历史上就以果色金黄、皮薄肉嫩、食不存渣、风味浓甜、芳香扑鼻而闻名中外。据《禹贡》记载，早在两千多年以前，南丰蜜桔已被列为贡品。唐宋八大家之一的曾巩，曾写诗赞美家乡的柑桔：“鲜明百数见秋实，错缀众叶倾霜柯。翠羽流苏出天仗，黄金戏球相荡摩。入苞岂数桔柚贱，宅鼎始足盐梅和。江湖苦遭俗眼慢，禁御尚觉凡木多。谁能出口献天子，一致大树凌沧波。”当时蜜桔已能献给天子，故南丰蜜桔又有“贡桔”的美誉，曾被斯大林同志誉为“桔中之王”。</string>
		</array>
		<array>
			<string>信丰脐橙</string>
			<string>       信丰脐橙被誉为“橙中之王”，果皮橙色，大而无核，色泽鲜雅，肉质脆嫩，甜酸适中，风味清香，素有“脐橙进房香满堂”之誉，营养丰富，堪称果中佳品。</string>
		</array>
		<array>
			<string>南康甜柚</string>
			<string>       南康甜柚，肉嫩化渣、汁多味甜，风味独特，品质上乘，平均单果重1250克，富含糖类、蛋白质、有机酸、矿物质、维生素C、B等多种营养成份，含可溶性固形物13.8%－16%，总糖量11.2%，总酸量0.33%，每百克果汁含维生素C154毫克以上，具有清肝明目、滋心润肺、止咳化痰、降低胆固醇等保健功效。素有“天然罐头”、“果中珍品”之美称。</string>
		</array>
		<array>
			<string>三湖红桔</string>
			<string>       三湖红桔，是江西省新干县地方特色柑桔良种，因原产、主产于该县三湖镇而得名。该品种红桔果色鲜红，果肉脆嫩，甜酸适度，风味浓郁独特，营养丰富。公元3-4世纪时就驰名江南，20世纪50年代曾出口苏联和东欧各国，深受广大消费者喜爱，一直盛销不衰。2001年获江西省优质柑桔奖。</string>
		</array>
		<array>
			<string>江西梨瓜</string>
			<string>       江西梨瓜，是我国甜瓜中的珍品，原产江西省上饶地区，具有悠久的历史，由于品质佳，适应性强，应市时间早且长，逐渐推广开来，目前，全省都有种植，是夏季主要瓜果之一。
瓜色洁白，外形象梨。吃起来水灵、香甜。每只瓜重一至二斤。其大小、形状与著名兰州白兰瓜很类似，但又不尽相同。白兰瓜吃肉不吃皮，浓甜如蜜；江西梨瓜属于薄皮瓜，不仅肉好吃，而且皮极薄，带皮吃依然香甜宜人，没有余渣。“脆、甜、香”三个字恰当地概括了江西梨瓜的特点。</string>
		</array>
		<array>
			<string>安义枇杷</string>
			<string>       安义枇杷，又名卢桔、金丸，生在南国，已有二千多年历史，枇杷上市正值水果淡季，因此倍受人们欢迎，是初夏里最受人喜爱的水果。
       南昌安义县所产的枇杷，果实圆形，表皮薄嫩，肉质厚实，鲜甜微酸，汁多爽口，风味独特。而且它还含有丰富的蛋白质、脂肪、维生素C和糖、钙、镁、铁等成分，营养价值很高。枇杷鲜果既可生食，又可制成罐头、果酒和果酱。
       用枇杷的叶、果核、果汁加冰糖可熬成著名的枇杷膏，有清肺、止咳、润喉、生津之功效。枇杷树干木质细韧，可供雕刻。枇杷花是珍贵的蜜源，“枇杷蜜”浓甜纯正，为高级滋补品，现已被引种到亚洲、欧洲、非洲和大洋洲的许多国家。</string>
		</array>
		<array>
			<string>紫玉杨梅</string>
			<string>       分宜县紫玉杨梅示范基地是江西省较大的紫玉杨梅示范基地之一，面积500多亩，位于分宜山塘下，生态环境优良。该基地生产的紫玉牌东魁杨梅风味独特，鲜食可口，果实营养丰富，老幼皆宜。据《本草纲目》记载：“杨梅可止渴，和五脏能涤肠胃，除烦偾恶气，并且有清食、除湿、消暑、御寒、止泻、利尿、治霍乱等功能。每当炎夏吃上几颗烧酒浸的杨梅有解暑、消痧、开胃、气舒神爽之功效，受消费者青睐。据研究杨梅有抗癌作用。
       营养价值：每100克杨梅可食部食品中的营养素含量：水分83.4-92.0克、热量28千卡，蛋白质0.8克，脂肪0.2克，碳水化合物5.7克，膳食纤维1克，果汁含糖量12-13克，含酸量0.5-1.8克，硫胺素10微克，核黄素50微克，烟酸0.3毫克，视黄醇当量92微克，胡萝卜素0.3微克，维生素A7微克，维生素C9毫克，维生素E0.81毫克，钙14毫克，镁10毫克，铁1毫克，锰0.72毫克，锌0.14毫克，铜20微克，钾149毫克，磷8毫克，钠0.7毫克，硒0.31微克。
       生长环境：杨梅，喜酸性土壤，原产中国温带、亚热带湿润气候的海拔125-1500米的山坡或山谷林中，主要分布在长江流域以南、海南岛以北，即北纬20度至31度之间，与柑桔、枇杷、茶树、毛竹等分布相仿，但其抗寒能力比柑桔、枇杷强。</string>
		</array>
		<array>
			<string>塔桥早熟梨</string>
			<string>       塔桥梨，是鹰潭市余江县的特产，具有悠久的栽培历史，其外型美观、品质优良，口感香脆甜、营养丰富，上市较早等特点。早在1959年，“塔桥梨”曾奉命送往“庐山会议”的中央领导品尝，得到了高度的评价。60年代，&quot;塔桥梨&quot;年产量已逾500万斤，产品远销香港、澳门及东南亚各国。</string>
		</array>
		<array>
			<string>江湾雪梨</string>
			<string>       江湾雪梨，是婺源的传统特产，历史悠久。品种有“六月雪”、“西降坞”、“白梨” 、“苏梨”、“马铃梨” 等，龙以“西降坞”梨为上品。
       以个大皮薄、肉厚核小、松脆化渣而著名，一般是果重300－400克，最大800克，果实阔瓢形，果皮绿色套袋后呈白色，富含多种氨在酸、维生素及矿物质，色香味形俱佳，并具有明显的生津、止咳、滋阴润肺，退热消喘等医疗保健功效。</string>
		</array>
	</array>
	<array>
		<array>
			<string>南昌大曲酒</string>
			<string>       南昌大曲酒，为江西地方历史名酒之一，酒度为六十度，具有清亮透明，芳香扑鼻，入口香绵，纯正醇厚的特殊风味。饮后回香郁难，有反嗝舒适之感。并有舒筋活血，御寒顺气，破瘴除病，帮助消化，刺激食欲之功效。此酒是一种蒸馏酒，选用新鲜饱满的高梁、糯米为原料，采用传统的地窖固体密闭发酵，以块曲（大曲）为糖化发酵剂酿制而成。故称为“大曲酒”。</string>
		</array>
		<array>
			<string>丁坊酒</string>
			<string>       丁坊酒，是江西传统的甜型黄酒，以南昌县丁坊村所产品质最佳，故名“丁坊酒”。酒度十八至二十度，糖分为百分之十六至百分之十八，酒色清亮金黄，香气浓郁，入口香绵，鲜甜醇厚，平和纯正。酌量饮之，有清心明目、心悦神怡之效。
       丁坊村地处抚河下游，丁坊酒所以受人称道，除其酿酒用水清洁甘甜，无异味，含矿物质高外，还与其独特的酿酒工艺有关。据《南昌县志》记载，俗以重阳酿，取酒与糟贮于瓮，以泥封之，久而开瓮者益浓。现在丁坊酒以优质糯米为主要原料，经过浸米、冲洗滴干、蒸煮喷水、热饭降温、加曲下缸、糖发酵、拓酒储陈等道工序，贮藏一年以上才为成品。</string>
		</array>
		<array>
			<string>四特酒</string>
			<string>       四特酒，是江西省樟树市名产，这里依山傍水、山川秀丽，有着得天独厚的酿酒条件。四特酒的身世可以追溯到距今3500年前的殷商时期，自“仪狄”在这里酿造出人类历史上第一滴酒开始，樟树5000年的酿酒历史一直从未间断。著名的阁皂山被唐高宗御赐敕封为“天下第三十三福地”，而水质清澈、奔腾不息的赣江则孕育了以“稻文化”为核心的神秘的赣鄱文明。</string>
		</array>
		<array>
			<string>庐山云雾茶</string>
			<string>       庐山云雾茶，属于绿茶，因产自中国江西省九江市的庐山而得名。始于中国汉朝，中国十大名茶之一，宋代列为“贡茶”。有诗赞曰：“庐山云雾茶，味浓性泼辣，若得长时饮，延年益寿法”。素来以“味醇、色秀、香馨、汤清”享有盛名。茶汤清淡，宛若碧玉，味似龙井而更为醇香。“匡庐奇秀甲天下，云雾醇香益寿年”。庐山云雾景观是庐山之奇景，庐山处于一个盆地，大江大湖蒸腾大量不竭的水汽，形成滔滔的云雾涌向庐山，诡谲奇特，变化多端。庐山云雾茶由于长年饱受庐山流泉飞瀑的亲润、行云走雾的熏陶，从而形成其独特的醇香品质：叶厚毫多、醇香甘润、富含营养、延年益寿。</string>
		</array>
		<array>
			<string>攒林茶</string>
			<string>       攒林茶，产于永修县，又名“攒林云尖”，俗呼“云雾尖”，“云雾尖”在南宋时就列为贡品。相传清代的康熙、乾隆两皇帝都曾把它当作长寿珍品。四十年代初，在海灯禅师主持下，云居山真如禅寺众僧曾辟土植茶七十余亩，一时被佛门视为珍宝。</string>
		</array>
		<array>
			<string>甜茶</string>
			<string>       它生长在海拔500米以上的密林中，在仙女湖区范围内只有东坑林场峡沙分场的九龙山上才有。由于其生长环境特殊，所以具有清热解暑、降压祛脂等药用价值，既是保健用品，又是医药用品。用开水冲泡后，香气四溢，沁人心脾，甘甜爽口，使人顿觉心旷神怡。
       营养价值：甜茶含丰富的营养物质和人体所必需的微量元素。据广西技术监督局分析测试研究中心等单位测试结果证实：野生甜茶中富含18种氨基酸，每100克干品含氨基酸总量331.54毫克，特别是甜茶中富含人体必须的、人体不能生成，只能从食物中吸收的8种氨基酸。主要有钙0.84%、锌105.5mg/kg、锗5.5μg/kg、硒17.94μg/kg，及钾、镁、磷、铁、钠、铜、铬、锶、锂等多种元素，不含砷铝等有毒物质，不含会产生头晕、心跳加速、心悸、焦虑易怒、心理不适、干扰睡眠、等副作用的咖啡因；其中所含的锗、硒等，均优于一般绿茶和苦丁茶。
       食材功效：研究发现，一定浓度的甜茶素具有明显的降血脂作用。甜茶素还能降低正常小鼠血糖水平，对小鼠糖异生具有明显的抑制作用；同时，甜茶素能明显降低血清甘油三酯水平，对胆固醇含量也有降低作用“”。用甜茶素提取物绘链脲佐菌素诱发的高血糖大鼠灌胃，3周后测血糖、果糖胺、胰岛素和SOD等指标，甜茶提取物能显著地降低大鼠血糖，增强其抗氧化能力，同时能刺激胰岛素的分泌来降低血糖。甜茶提取物对浓氨水实验性咳嗽有抑制作用，能明显增加呼吸道酚红排出量，显示止咳祛痰效果，并具有较好的镇痛，抗炎，镇静作用。在日本，甜茶已用作抗敏药。</string>
		</array>
		<array>
			<string>崇义阳岭茶</string>
			<string>       崇义阳岭茶，是赣州地区古老名茶之一，明朝被列为“贡茶”。阳岭茶产地处于支雾缭绕的高山，是茶叶生长的理想环境。
       该茶外形条索状，白毫多，以泡后茶色清澈、碧绿、香气浓烈、持久、饮后甘醇润喉、令人神怡等特色而闻名省内外。相传，数百年前，阳岭古庙旁有一株大茶树，引来一只白公鸡，栖于树上啼鸣、唾沫滋润茶树，采其叶制茶，沏茶后揭开壶盖，雾状水汽形如公鸡，香气浓烈、甘醇。阳岭茶质优、市场需求量日益增大，供不应求。</string>
		</array>
		<array>
			<string>客家红米酒</string>
			<string>       客家红米酒，是万安县当地的特产，每到九月重阳日，万安客家人和本地人必会选用本地纯糯米、酒曲酿制酒娘以备春节招待贵客，而择居于山中的客家人，往往会在重阳日将酿造好的酒娘，置于地窖封存2年以上，待春节来临而挖出，就成了陈年红米酒，此酒越陈越香，醇厚爽口，回味悠长，是客家人待客的上品。</string>
		</array>
		<array>
			<string>蜀口茶</string>
			<string>       蜀口茶，产于泰和县马市镇的蜀口洲，有“冠朝猪、蜀口茶、武山鸡甲天下”之美称。该地产茶始于唐代，距今一千多年。明成化年间，蜀口洲引进遂川县珍稀名茶狗牯脑，使蜀口茶品质显著提高，成为一方名茶，清朝曾列为贡品。蜀口茶精心制作后，形如鱼钩，条索紧细，银毫披露；汤色明亮，略呈浅绿；茶味浓郁，入口醇香，回味久长，沁人肺腑。</string>
		</array>
		<array>
			<string>三湾老酒</string>
			<string>       三湾老酒，是江西省传统名酒，产于著名的“三湾改编”地-江西省永新县，历史悠久，工艺独特，其主要原料为当地特产香糯米，辅以清澈甘甜的山泉，采用传统工艺精心酿制而成，酒香浓郁，醇厚绵甜，是一种集营养于保健于一体的低度饮料酒，长年适量钦用可助消化、增食欲、促进血液循环、调节新陈代谢。
       永新乡村家家户户都能酿制糯米酒，习惯把糯米制成酒娘后，掺上一定比例的山泉水就成水酒，隔年过冬则成了冬酒。但水酒储藏的年份不能长久，不掺水酒娘，储藏时间能达百年。
        储藏时间越长，酒香越浓郁，越醇厚绵甜。为此，永新农家纷纷精心酿制糯米酒娘，珍藏一坛不掺水的酒娘，数年后开坛酒香扑鼻而来，酱香浓浓，甜美醇香，成为金不换的陈年老酒。在永新的陈年老酒—— —三湾老酒，家喻户晓、名扬四海，享有着独特的红色酒文化。</string>
		</array>
	</array>
	<array>
		<array>
			<string>生米藠头</string>
			<string>       藠头，是新建县的特产，生米镇是我国最大的藠头生产基地，生米藠头因其色白无污染，层多耐腌制，肉脆爽口，个大匀称，具有杀菌、健胃、消食、除腻等功能，深受国内外消费者青睐。据统计，中国出口的藠头原料中有80％出自该镇。
       藠头，读音 jiào ，薤（xiè）的别称：～子。～头。～白。江西省新余市一带又称野蕌，音为“yǎqiāo”，浙江一带称为：qiáo头、qiāo子（衢州这边叫狮子葱）。是薤白的亚种，为多年生草本百合科植物的地下鳞茎，叶细长，开紫色小花，嫩叶也可食用。成熟的藠头个大肥厚，洁白晶莹，辛香嫩糯，含糖、蛋白质、钙、磷、铁、胡萝卜素、维生素C等多种营养物质，是烹调佐料和佐餐佳品。干制藠头入药可健胃、轻痰、治疗慢性胃炎。据《神农本草经》记载：藠头“治金疮疮败，轻身者不饥耐老”；“治少阴病阙逆泄痢，及胸瘅刺痛，下气，散血，安胎。”</string>
		</array>
		<array>
			<string>三江口萝卜腌菜</string>
			<string>       三江口萝卜腌菜，是南昌的传统名产，源于宋代，久负盛名，素有“一斤腌菜一寸金”之誉。选用特种小萝卜菜为主要原料，用优质麻油辅以多种配料，运用传统工艺和现代烹调技术，精制加工而成，色泽金黄，香气浓郁，鲜嫩清脆，滑润可口，风味独特，方便实惠，可直接食用。</string>
		</array>
		<array>
			<string>桂花鲜姜酱菜</string>
			<string>       桂花鲜姜酱菜，是江西景德镇的特产，它以色泽金黄，块形整齐美观而著称，具有酱美的浓郁香味，咸辣适口而闻名。</string>
		</array>
		<array>
			<string>龙姣瓜子</string>
			<string>       龙姣瓜子，是景德镇当地有名的特产，源于一位叫龙姣（女）的老人之手，吃在嘴里，香在嘴里，有两种口味，甜、辣。选用最上乘的西瓜子为原料，经过人工精选后，以丁香、肉豆蔻、白果、八角、茴香、甘草、香叶、大料等具有特殊功能和香味的药食同源中药材为香幸料，对其进行科学复配，采用现代和传统工序相结合经八小时煮制而成。</string>
		</array>
		<array>
			<string>南安板鸭</string>
			<string>       南安板鸭是江南省著名的特产，发源于明朝江西布政使岭北道南安府，至今已有五百余年的历史了。外形美观，色泽白净，皮薄肉嫩，尾油丰满，骨脆可嚼，味香可口，诱人食欲。成为国内外市场上的腊味珍品。
南安板鸭的特点是：鸭体扁平、外形桃园、肋骨八方形、尾部半园形。尾油丰满不外露，肥瘦肉分明，具有狮子口、双龙珠、双挂勾、关刀形，枧槽能容一指、白边一指宽、皮色奶白、瘦肉酱色、食味特点是皮酥、骨脆、肉嫩、咸淡适中，瘦肉酱色、肥肉不腻。有南安板鸭的独特风味，非其它腊味所可比拟。其背部盖有长园形“南安板鸭”珠红印章四枚，与翅骨及腿骨平行，呈倒八字形。。</string>
		</array>
		<array>
			<string>龙虎山香菇</string>
			<string>       龙虎山香菇，个大、肉厚、鲜嫩、泌香，生长于龙虎山山林，经木炭火烘烤脱水精选而成，保留了原纯天然品质。它含有人体所必需的多种氨基酸和碳水化合物等。食用味香质嫩，对预防脑溢血、高血脂、肠胃不适等有显著的功效，是为人们生活中首先的绿色保健食品。</string>
		</array>
		<array>
			<string>庐山石耳</string>
			<string>       庐山石耳，是著名的庐山三石之一，是一种野生在人迹罕至的悬崖峭壁上的肢菌植物，由于它形状扁平如人耳，又附着在岩上生长，所以称之为“石耳”。
       石耳营养价值极高，内含很多的肝糖、胶质、铁、磷、钙及多种维生素，营养十分丰富，是一种高蛋白滋阴润肺之补品。明代著名药物学家李时珍在《本草纲目》中记载：“石耳，庐山亦多，状如地耳，山僧采曝馈远，洗去沙土，作茹胜于木耳，佳品也。”</string>
		</array>
		<array>
			<string>安源火腿</string>
			<string>       安源火腿，是江西安源特产，选用肉质鲜嫩的羊肉、猪肉作原料，以农村的传统工艺，通过腌、熏、烤三个主要加工环节，结合现代科学的方法进行加工，绝不含防腐剂和色素。其色、香、味、形俱佳、且肉色红润。其色、香、味、形俱佳，且肉色红润、香味独特，是您招待贵宾、庆贺节日的上等佳肴。</string>
		</array>
	</array>
</array>
</plist>
